@charset "utf-8";

p,
h1,
h2,
h3 {
  margin: 0;
  color: #555;
}

i {
  color: #777;
}

.bodyDiv {
  background-color: #eee;
  border: solid 2px #777;
  box-sizing: border-box;
}

.header {
  background-color: #fff;
  height: 60px;
  border-bottom: solid 2px #777;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: row;
}

.main-column {
  background-color: #fff;
  width: 240px;
}
.main-todo {
  width: 560px;
}
.hr_gray {
  border: solid 1px #777;
  margin: 3px 0px;
}
