@charset "utf-8";

.red {
  color: red;
}

.icon-person {
  position: relative;
  top: 0px;
  left: 20px;
  transform: scale(1.5);
  color: #777;
  margin-right: 40px;
  border: solid 2px #777;
  border-radius: 50%;
}
.icon-settings {
  margin-left: auto;
  color: #777;
  margin-right: 20px;
}
.user {
  font-weight: bold;
}

.column_box {
  margin-top: 5px;
  margin-left: 0;
  display: flex;
  padding: 5px 0;
  align-items: center;
}

.selected_column {
  background-color: #a8ffc0;
}

.icon-column {
  margin-right: 20px;
  margin-left: 20px;
  left: 0px;
  position: relative;
  transform: scale(1.4);
}

.counts {
  margin-left: auto;
  margin-right: 20px;
}

.main-column {
  border-right: solid 2px;
}

.main-column-projects {
  height: 210px;
  overflow-y: scroll;
}
.main-column-projects-project {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-column-projects-project i {
  margin: 0px 5px;
}
.main-column-projects-project .name,
.main-column-projects-project .rename {
  width: 100%;
  box-sizing: border-box;
}
.main-column-add_project {
  display: flex;
  align-items: center;
}
.main-column-add_project input {
  border: none;
  width: 200px;
  height: 24px;
}
.main-column-add_project i {
  padding: 0 5px;
}

#todo_title {
  margin: 20px 25px;
  color: #555;
  font-size: 1.5em;
  font-weight: bolder;
}
.main-todo {
  border-left: solid 1px;
  background-color: #eee;
}

.main-todo-result {
  width: 500px;
  height: 50px;
  background-color: #fff;
  display: flex;
  margin-bottom: 10px;
}
.main-todo-result-incomplete,
.main-todo-result-complete {
  text-align: center;
  margin-left: 130px;
}

#incomplete_task_count,
#complete_task_count {
  color: orangered;
  font-weight: bold;
  font-size: 18px;
}
.main-todo-body {
  overflow-y: scroll;
  max-height: 310px;
}
.task_project_color {
  height: 30px;
}
.main-todo-body-tasks-task {
  height: 40px;
  background-color: #fff;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.main-todo-body-tasks-task i {
  margin: 0px 10px;
}
.main-todo-body-tasks-task-text {
  height: 30px;
  border: none;
}
.main-todo-body-tasks-task-date {
  color: #777;
  height: 26px;
  margin: 0 10px;
  border: none;
}

.main-todo-body-complete_task_button {
  margin: 10px auto;
  width: 200px;
  background-color: #fff;
  text-align: center;
}
.main-todo-body-complete_tasks,
.main-todo-body-incomplete_tasks {
  display: flex;
  align-items: center;
  background-color: #fff;
  min-height: 30px;
  max-height: 70px;
  margin-bottom: 10px;
}
.main-todo-body-complete_tasks p,
.main-todo-body-incomplete_tasks p {
  margin-left: 10px;
}
.delete_incomplete_task,
.delete_complete_task {
  margin-left: auto;
  margin-right: 10px;
}
.check_incomplete_task,
.check_complete_task {
  margin: 5px 0;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.link {
  width: 100%;
  text-align: right;
}

.label_project {
  display: flex;
}
.color-picker {
  position: absolute;
  visibility: hidden;
}
.color-picker-mobile {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.hamburger {
  position: fixed;
}
